# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual Environments
.venv/
venv/
env/
ENV/

# Streamlit config / secrets
.streamlit/config.toml
.streamlit/secrets.toml

# Local environment configuration
.env

# SQLite Database
database/database.db

# Machine Learning model binaries (large pickles)
models/trained/*.pkl
models/similarity/*.pkl
models/metadata/*.pkl
